body {
    background:  rgb(253, 253, 251);
    }
    
    .team-heading {
        background-color: rgb(170, 197, 247);
        font-style: italic;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
    
    .card {
        width: 300px;
        padding: 0px;
        margin: 5px;
    }
    
    .card-header {
        background-color: rgb(170, 197, 247);
        font-style: italic;
        font-family: Georgia, 'Times New Roman', Times, serif;
        
    }
    
    .card-body {
        background-color: rgb(170, 197, 247);
    }
    
    .list-group-item {
        background-color: rgb(253, 253, 251);
        font-style: italic;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }